@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif; /* Измените шрифт на Roboto */
    margin: 0;
    padding: 20px;
    background-image: url('images.jpeg'); /* Установите фоновое изображение */
    background-size: cover; /* Заставьте изображение покрывать всю область */
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 4em; /* Увеличьте размер заголовка */
    margin: 0;
}

h2 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em; /* Увеличьте размер подзаголовка */
}

.tribute {
    margin-bottom: 40px;
}

    .tribute p {
        margin-bottom: 20px;
        line-height: 1.8; /* Увеличьте межстрочный интервал */
        font-size: 1.5em; /* Увеличьте размер текста */
    }

.gallery, .audio, .video {
    margin-bottom: 40px;
}

.images {
    display: flex;
    justify-content: center;
}

    .images img {
        max-width: 300px;
        margin: 0 10px;
        border: 2px solid white;
        border-radius: 10px;
    }

audio, video {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1em; /* Увеличьте размер текста в подвале */
}

p {
    text-align: center; /* Центрировать текст описаний */
    font-size: 1em; /* Увеличьте размер текста для описаний */
    font-style: italic; /* Сделать текст курсивом */
    margin-top: 10px; /* Добавить отступ сверху */
}
